[submodule "shenango"]
	path = shenango
	url = https://github.com/joshuafried/caladan-ae
[submodule "memcached-linux"]
	path = memcached-linux
	url = https://github.com/shenango/memcached.git
[submodule "memcached"]
	path = memcached
	url = https://github.com/shenango/memcached.git
[submodule "silo"]
	path = silo
	url = https://github.com/shenango/silo.git
[submodule "gc"]
	path = gc
	url = https://github.com/shenango/boehmGC.git
[submodule "parsec"]
	path = parsec
	url = https://github.com/shenango/parsec.git
